{% extends 'layout.html.twig' %}
{% block title %}
    {{ 'title.add_calendar'|trans }}
{% endblock %}

{% block content %}
    <div class="article">
        <div class="header">
            <h2>
                {{ 'header.add_calendar'|trans }}
            </h2>
        </div>
        {% include 'form/form.html.twig' %}
    </div>
{% endblock %}