.day-not_empty{
  position: relative;
  ul, li{
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}
.day-not_empty{

}
.day-events{
  background-color: #00aa88;
  border: $textColor 1px solid;
  position: absolute;
  z-index: 20;
  bottom:5px;
  right: -10px;
}
.day-events_details{
  background-color: #0b2e13;
  border: 1px solid $textColor;
  z-index: 21;
}

.day-not_empty:hover {
  .day-events {
    display: inline-block;
  }
}
.day-events li:hover{
  .day-events_details{
    display: inline-block;
  }
}
.day-events_details, .day-events{
  display: none;
}
.basic-calendar{
  grid-template-rows: repeat(6,1fr);
  min-height: 120px;
  a{
    color:black;
  }
}
.basic-calendar, .weeks, .months{
  width: 100%;
}
.basic-calendar,.weeks{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  text-align: center;
}
.weeks{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
}
.year-wrap, .months{
  display: flex;
}
.year-wrap{
  justify-content: center;
}
.rok a {
  cursor: pointer;
}
.months{
  justify-content: space-around;
}
.basic-calendar div, .res, .acc{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.basic-calendar div{
  padding:5px 0px;
}
.loading-spinner {
  animation: rotateLoader 4s infinite;
  animation-timing-function: ease-in-out;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
  z-index: 1000;

  span {
    animation-timing-function: ease-in-out;
    background-color: #1a727c;
    border-radius: 100%;
    display: block;
    height: 9px;
    position: absolute;
    width: 9px;

    &:nth-child(1) {
      animation: translateBall1 1s infinite;
      left: 0;
      top: 0;
      transform: translate3d(5px, 5px, 0);
    }

    &:nth-child(2) {
      animation: translateBall2 1s infinite;
      right: 0;
      top: 0;
    }

    &:nth-child(3) {
      animation: translateBall3 1s infinite;
      bottom: 0;
      right: 0;
    }

    &:nth-child(4) {
      animation: translateBall4 1s infinite;
      bottom: 0;
      left: 0;
    }
  }

  &.is-relative {
    display: inline-block;
    left: auto;
    margin: 0;
    position: relative;
    top: auto;
    z-index: 1;
  }
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes translateBall1 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(4px, 4px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes translateBall2 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-4px, 4px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes translateBall3 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-4px, -4px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes translateBall4 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(4px, -4px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@media screen and (max-width: 500px) {
  .rok{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .basic-calendar,.weeks{
    font-size: 1em;
  }
  .basic-calendar div, .weeks div{
    width: 32px !important;
    height: 32px !important;
  }
  .res, .acc{
    width: 28px !important;
    height: 28px !important;
  }
  .kalendarz .calendar{
    padding: 60px 40px;
  }
}
