/*
FUN COLORS
#a86744
#56798e
#5644a8
#44a869
#a84e44
#a88044
 */
//@import '../font-awesome-4.7.0/scss/font-awesome.scss';
$small: 574px;
$madium: 768px;
$textColor: #ebebeb;

@import "sidebar";
@import "content";
@import "form";
@import "paginator";
@import "calendar";
@import "media";
@import "event-list";

html{
  min-height: 100%;
  position: relative;
}
body{
  display: block;
  color:$textColor;
  height:100%;
}
.debug{
  background-color: red;
  grid-area: debug;
}
.logged{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas: "placeholder content";
  grid-auto-rows: auto;
}
.form_submmit{
  background-color: red !important;
  &:hover{
    background-color: red;
  }
}
.nav-log{
  position: fixed;
  top:0;
  right: 0;
  display: flex;
  word-break: break-all;
  margin:10px;
}