{% if form is defined %}
    {% form_theme form with ['bootstrap_3_layout.html.twig', 'form/form_errors.html.twig'] %}
    {{ form_start(form, { method: 'post', action: global.request.uri }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input type="submit" value="{{ 'label.submit'|trans }}">
    </div>
    {{ form_end(form) }}
{% endif %}