<div class="admin-sidebar">
    <nav class="sidebar-menu">
        <div class="sidebar-menu-item">
            <a href="{{ url('userIndex') }}">
                <i class="fa fa-address-book" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item">
            <a href="">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item">
            <a href="">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item"><a href=""></a></div>
        <div class="sidebar-menu-item"><a href=""></a></div>
    </nav>
</div>