{% extends 'layout.html.twig' %}

{% block title %}
{{ 'title.mail_has_been_send'|trans }}
{% endblock %}

{% block content %}
    <div class="container mail_send-wrapper text-center">
        <h2>{{ 'content.signUpToken'|trans }}</h2>
    </div>
{% endblock %}