<div class="admin-sidebar">
    <nav class="sidebar-menu">
        <div class="sidebar-menu-item">
            {#<a href="{{ url('settingsIndex',{'calendarId':calendarId, 'page':1}) }}">#}
                <i class="fa fa-cogs" aria-hidden="true"></i>
            {#</a>#}
        </div>
        <div class="sidebar-menu-item">
            {#<a href="{{ url('userIndex',{'calendarId':calendarId, 'page':1}) }}">#}
                <i class="fa fa-address-book" aria-hidden="true"></i>
            {#</a>#}
        </div>
        <div class="sidebar-menu-item">
            {#<a href="{{ url('eventsIndex', {'calendarId':calendarId, 'page':1} ) }}">#}
                <i class="fa fa-calendar" aria-hidden="true"></i>
            {#</a>#}
        </div>
        <div class="sidebar-menu-item">
            {#<a href="{{ url('home', { 'calendarId':calendarId }) }}">#}
                <i class="fa fa-home" aria-hidden="true"></i>
            {#</a>#}
        </div>
    </nav>
</div>