{% extends 'layout.html.twig' %}
{% block title %}
    {{ 'title.edit_media'|trans }}
{% endblock %}

{% block sidebar %}
    {% include 'sidebar/sidebar-user.html.twig' %}
{% endblock %}

{% block content %}
    <div class="article">
        <div class="header">
            <h2>
                {{ 'header.edit_media'|trans }}
            </h2>
        </div>
        {% include 'form/form.html.twig' %}
    </div>
{% endblock %}